* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    background-color: #f6b319;
}

#title {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.img {
    width: 100px;
    height: 100px;
    margin: 15px 10px;
    cursor: pointer;
}

h1 {
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.header p {
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 10px;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    margin-left: 100px;
}

.button-nav {
    display: inline-block;
    border: none;
    border-radius: 10px;
    margin: 10px;
    padding: 4px 16px;
    text-align: center;
    color: maroon;
    cursor: pointer;
    transition: transform 0.3s;
    background-color: #f6b319;
}

.button-nav img {
    position: relative;
    top: 10px;
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 15px 10px;
}

.button-nav #span {
    display: block;
}

.button-nav:hover {
    background-color: rgb(88, 153, 88);
    box-shadow: 0 1px 5px 1px #5e4c4c;
}

.button-nav.active {
    background-color: #cccccc;
    box-shadow: 0 1px 5px 1px #cccccc;
}

#span {
    display: block;
}

.main-container {
    padding: 48px 60px;
    background-color: #3F0C1F;
}

.main-container .jumbotron {
    box-shadow: 0 0 50px #3F0C1F;
    border: 2px solid #3F0C1F;
}

.jumbotron img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.home-tiles,
.menu-categories {
    margin: 36px 24px;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 24px;
}

#menu-tile,
#specials-tile,
#map-tile {
    height: 250px;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid #3F0C1F;
    cursor: pointer;
}

#menu-tile:hover,
#specials-tile:hover,
#map-tile:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-tile {
    background: url('../src/images/menu-tile.jpg') no-repeat;
    background-position: center;
}

#specials-tile {
    background: url('../src/images/specials-tile.jpg') no-repeat;
    background-position: center;
}

#map-tile {
    background: url('../src/images/map-tile.jpg') no-repeat;
    background-position: center;
}

#menu-tile span,
#specials-tile span,
#map-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .8;
}

footer {
    text-align: center;
    background-color: #222222;
    color: #fff;
    padding: 20px;
}

/****** Menu categories *******/

.category-tile {
    position: relative;
    border: 2px solid #3F0C1F;
    width: 200px;
    height: 200px;
    margin: 0 auto 15px;
    overflow: hidden;
    cursor: pointer;
}

.category-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .8;
}

.category-tile:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-categories-title+div {
    margin-bottom: 50px;
}

h2 {
    text-align: center;
    font-size: 30px;
    margin: 20px 0px 10px 0px;
    color: #cccccc;
    line-height: 1.1;
}

.menu-text {
    text-align: center;
    color: #fff;
}